.hero{
    height: 80vh;
    background-image: url('../Assets/images/Jumbotron.jpg');
    background-position: center;
    height: 80vh;
    background-size: cover;
    padding-top: 8vh;
    padding-bottom: 30vh;

    
}

