.rol{
    background: #5497C9; 
}

.text{
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

.ml-3{
    color: #5497C9;
}

.se{
    color: #5497C9;
    
}

.se:hover{
    /* background-color: rgb(145, 157, 179); */
    transform: scale(0.8);
    transition-duration: 0.8s;
    color: #65385b;
}

.tabs:hover{
    /* background-color: rgb(145, 157, 179); */
    transform: scale(0.8);
    transition-duration: 0.8s;
    color: #65385b;
}

